<div class="back-image">
  <div class="v-line"></div>
  <div class="content">
    <div class="logo"></div>
    <span
      style="font-size: 30px; cursor: pointer"
      *ngIf="!open"
      (click)="openNav()"
      >&#9776; Menu</span
    >
    <nav>
      <div class="menu">
        <ul>
          <li
            routerLinkActive="activo"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <a routerLinkActive="active" routerLink="/">Inicio</a>
          </li>
          <li routerLinkActive="activo">
            <a routerLinkActive="active" routerLink="/about"
              >Acerca de nosotros</a
            >
          </li>
          <li routerLinkActive="activo">
            <a routerLinkActive="active" routerLink="/history">Historia</a>
          </li>
          <li routerLinkActive="activo">
            <a routerLinkActive="active" routerLink="/contact">Contacto</a>
          </li>
        </ul>
      </div>
      <div class="menu language">
        <ul>
          <li
            class="language"
            routerLinkActive="activo"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <a class="lan" routerLinkActive="active" routerLink="/">ES</a>
          </li>
          <li class="language" routerLinkActive="activo">
            <a class="lan" routerLinkActive="active" routerLink="/about">EN</a>
          </li>
        </ul>
      </div>
    </nav>
    <div id="mySidenav" class="side-nav" *ngIf="open">
      <a href="javascript:void(0)" class="closebtn" (click)="closeNav()"
        >&times;</a
      >
      <a href="#">Inicio</a>
      <a href="#">Acerca de nosotros</a>
      <a href="#">Historia</a>
      <a href="#">Contacto</a>
    </div>
  </div>

  <div class="description-nav">
    <h1 class="">
      {{ headerDescription }}
      <span [ngStyle]="{ color: 'yellow' }">{{ headerSpan }}</span>
    </h1>
    <button>
      {{ buttonLabel | uppercase }} <mat-icon>arrow_forward</mat-icon>
    </button>
  </div>
</div>
