<div class="footer-container">
  <div class="footer-nav">
    <nav>
      <div class="menu">
        <ul>
          <li
            routerLinkActive="activo"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <a routerLinkActive="active" routerLink="/">Inicio</a>
          </li>
          <li routerLinkActive="activo">
            <a routerLinkActive="active" routerLink="/about"
              >Acerca de nosotros</a
            >
          </li>
          <li routerLinkActive="activo">
            <a routerLinkActive="active" routerLink="/history">Historia</a>
          </li>
          <li routerLinkActive="activo">
            <a routerLinkActive="active" routerLink="/contact">Contacto</a>
          </li>
        </ul>
      </div>
    </nav>

    <div>
      <img src="../../assets/group-23.png" alt="" />
      <img src="../../assets/group-24.png" alt="" />
      <img src="../../assets/group-25.png" alt="" />
      <img src="../../assets/group-22.png" alt="" />
      <img src="../../assets/group-26.png" alt="" />
    </div>
  </div>
  <div><img src="../../assets/fill-2.png" /></div>
</div>
