section {
  flex-direction: column;
  height: 392px;
  padding: 10% 16%;
  background-color: #f3f4f8;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  .history {
    display: flex;
    align-self: flex-end;
    @media (max-width: 1155px) {
      flex-direction: column;
      align-self: center;
      .history-tennis {
        display: flex;
        align-self: center;
      }
    }
    .tennis {
      color: #cbe346;
      font-size: 15px;
      font-family: Helvetica;
      line-height: 30px;
    }
    .description {
      display: flex;
      flex-direction: column;
      align-self: center;
      width: 490px;
      margin: 0 50px;
      .description-text {
        color: #000000;
        font-size: 50px;
        font-family: Helvetica;
        line-height: 57px;
        overflow-wrap: break-word;
      }
      span {
        width: 325px;
      }
    }
    button {
      width: 234px;
      height: 53px;
      margin: 49px 0 0;
      padding: 15px 10px 15px 15px;
      border-radius: 26.5px;
      font-size: 13px;
      background: transparent;
      border: solid 1px #282e47;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      align-self: flex-end;
      @media (max-width: 1155px) {
        align-self: center;
      }
    }
  }
}
.shop {
  display: flex;
  height: 468px;
  @media (max-width: 1155px) {
    flex-direction: column;
    height: 900px;
  }
  @media (max-width: 790px) {
    height: 760px;
  }
  .our-rackets {
    background-image: url("../../assets/ball-color-court-1405355.jpg");
    height: 468px;
    width: 32%;
    background-color: #000000;
    background-position: center center;
    background-size: cover;
    max-width: 100%;
    max-height: 100%;
    @media (max-width: 1155px) {
      width: 100%;
      align-self: center;
    }
  }
  .rackets {
    width: 68%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 0 0 6%;
    justify-content: space-between;
    @media (max-width: 1630px) {
      padding: 0 0 0 3%;
    }
    @media (max-width: 1450px) {
      padding: 0 0 0 1%;
    }
    @media (max-width: 1360px) {
      padding: 0 0 0 0%;
    }
    @media (max-width: 1155px) {
      align-self: center;
      width: 100%;
    }
    @media (max-width: 790px) {
      align-self: center;
      flex-direction: column;
      justify-content: center;
      height: 760px;
      .rackets-container:nth-child(2) {
        display: none;
      }
      :nth-child(2) {
        display: none;
      }
      :nth-child(3) {
        display: none;
      }
    }
    .rackets-container1 {
      background-image: url("../../assets/group-10.jpg");
      width: 329px;
      height: 392px;
      background-size: cover;
    }
    .rackets-container2 {
      background-image: url("../../assets/group-11.jpg");
      width: 329px;
      height: 392px;
      background-size: cover;
    }
    .rackets-container3 {
      background-image: url("../../assets/group-12.jpg");
      width: 243px;
      height: 392px;
      background-size: cover;
    }
  }
}
.image {
  background-image: url("../../assets/action-athlete-ball-342361.jpg");
  height: 586px;
  background-position: center center;
  background-size: cover;
  @media (max-width: 1155px) {
    background-position: initial;
  }
}
