<section>
  <div class="history">
    <div class="history-tennis">
      <span class="tennis">{{ tennis | uppercase }}</span>
    </div>
    <div class="description">
      <div>
        <span class="description-text">{{ description }}</span>
      </div>
      <span>{{ history }}</span>
    </div>
    <button>
      {{ buttonHistory | uppercase }} <mat-icon>arrow_forward</mat-icon>
    </button>
  </div>
</section>
<div class="shop">
  <div class="our-rackets">
    <app-carousel-shop> </app-carousel-shop>
  </div>
  <div class="rackets">
    <div class="rackets-container"><img src="../../assets/group-10.jpg" /></div>
    <div class="rackets-container"><img src="../../assets/group-11.jpg" /></div>
    <div class="rackets-container"><img src="../../assets/group-12.jpg" /></div>
  </div>
</div>
<div class="image">
</div>
