.carousel {
  height: 100%;
  .carousel-indicators {
    bottom: 25%;
    button {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      margin-right: 20px;
      opacity: 1;
      &.active {
        background-color: #cbe346;
      }
    }
  }
  .carousel-inner {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0;
    color: #ffffff;
    align-items: center;
    justify-content: center;
    @media (min-width: 2284px) {
      padding: 20% 7% 21% 35%;
    }

    @media (max-width: 1155px) {
      padding: 0;
      justify-content: center;
      align-items: center;
    }

    .carousel-item {
      margin-right: 0;
      font-size: 50px;
      span {
        margin-right: 10px;
      }
      @media (max-width: 2284px) {
        display: flex;
        justify-content: center;
      }
      @media (max-width: 1555px) {
        align-items: center;
        flex-direction: column;
      }

      @media (max-width: 1155px) {
        display: flex;
        justify-content: center;
        flex-direction: row;
        span {
          margin-right: 10px;
        }
      }
    }
    .carousel-item-des {
      font-size: 18px;
      @media (max-width: 2284px) {
        text-align: center;
      }
    }
  }
  .carousel-control-prev {
    bottom: 70px;
    left: 40%;
    height: 54px;
    width: 54px;
    background-color: transparent;
    border-radius: 50%;
    top: 80%;
    opacity: 1;
    @media (max-width: 1480px) {
      left: 32%;
    }
  }
  .carousel-control-next {
    bottom: 70px;
    top: 80%;
    height: 54px;
    width: 54px;
    left: 53%;
    background-color: #cbe346;
    opacity: 1;
    border-radius: 50%;
    @media (max-width: 1480px) {
    }
  }
}
